<div class="form-group">
  <label for="name">Postnummer</label>
  <input [ngModel]="postnummer" (ngModelChange)="onChange($event)" type="number" class="hallo" id="name"
         required>
</div>

<input type="submit" value="Send">
<input type="reset">
