.hallo {
  margin: 10px;
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
}


input[type=button], input[type=submit], input[type=reset] {
  background-color: #005aa7;
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
